In [5]:
import json 
import pandas as pd 
import requests 
import yfinance as yf 
import os
import plotly.express as px 
from datetime import datetime
import plotly.graph_objects as go
import numpy as np
import matplotlib.pyplot as plt
from datetime import date
import tensorflow as tf

In [6]:
ticker = ["AAPL"] 

start_date = "2021-05-28"
current_date = date.today()
## I grabbed the current date, will update as day changes 
end_date = current_date.strftime("%Y-%m-%d")
data = yf.download(ticker, start=start_date, end=end_date)
df = pd.DataFrame(data).reset_index()


df

[*********************100%%**********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-05-28,125.570000,125.800003,124.550003,124.610001,122.516006,71311100
1,2021-06-01,125.080002,125.349998,123.940002,124.279999,122.191559,67637100
2,2021-06-02,124.279999,125.239998,124.050003,125.059998,122.958443,59278900
3,2021-06-03,124.680000,124.849998,123.129997,123.540001,121.464005,76229200
4,2021-06-04,124.070000,126.160004,123.849998,125.889999,123.774506,75169300
...,...,...,...,...,...,...,...
754,2024-05-29,189.610001,192.250000,189.509995,190.289993,190.289993,53068000
755,2024-05-30,190.759995,192.179993,190.630005,191.289993,191.289993,49947900
756,2024-05-31,191.440002,192.570007,189.910004,192.250000,192.250000,75158300
757,2024-06-03,192.899994,194.990005,192.520004,194.029999,194.029999,50080500
758,2024-06-04,194.639999,195.320007,193.029999,194.350006,194.350006,47471400

In [7]:
columns_to_round = ['Open', "High", "Low", "Close", "Adj Close"]
df[columns_to_round] = np.round(df[columns_to_round], 4)
df

          Date    Open    High     Low   Close  Adj Close    Volume
0   2021-05-28  125.57  125.80  124.55  124.61   122.5160  71311100
1   2021-06-01  125.08  125.35  123.94  124.28   122.1916  67637100
2   2021-06-02  124.28  125.24  124.05  125.06   122.9584  59278900
3   2021-06-03  124.68  124.85  123.13  123.54   121.4640  76229200
4   2021-06-04  124.07  126.16  123.85  125.89   123.7745  75169300
..         ...     ...     ...     ...     ...        ...       ...
754 2024-05-29  189.61  192.25  189.51  190.29   190.2900  53068000
755 2024-05-30  190.76  192.18  190.63  191.29   191.2900  49947900
756 2024-05-31  191.44  192.57  189.91  192.25   192.2500  75158300
757 2024-06-03  192.90  194.99  192.52  194.03   194.0300  50080500
758 2024-06-04  194.64  195.32  193.03  194.35   194.3500  47471400

[759 rows x 7 columns]

In [8]:
df.drop(columns = ['Adj Close'], inplace=True)
df

          Date    Open    High     Low   Close    Volume
0   2021-05-28  125.57  125.80  124.55  124.61  71311100
1   2021-06-01  125.08  125.35  123.94  124.28  67637100
2   2021-06-02  124.28  125.24  124.05  125.06  59278900
3   2021-06-03  124.68  124.85  123.13  123.54  76229200
4   2021-06-04  124.07  126.16  123.85  125.89  75169300
..         ...     ...     ...     ...     ...       ...
754 2024-05-29  189.61  192.25  189.51  190.29  53068000
755 2024-05-30  190.76  192.18  190.63  191.29  49947900
756 2024-05-31  191.44  192.57  189.91  192.25  75158300
757 2024-06-03  192.90  194.99  192.52  194.03  50080500
758 2024-06-04  194.64  195.32  193.03  194.35  47471400

[759 rows x 6 columns]

In [9]:
df["Polarity"] = df["High"] - df["Low"]
df

          Date    Open    High     Low   Close    Volume  Polarity
0   2021-05-28  125.57  125.80  124.55  124.61  71311100      1.25
1   2021-06-01  125.08  125.35  123.94  124.28  67637100      1.41
2   2021-06-02  124.28  125.24  124.05  125.06  59278900      1.19
3   2021-06-03  124.68  124.85  123.13  123.54  76229200      1.72
4   2021-06-04  124.07  126.16  123.85  125.89  75169300      2.31
..         ...     ...     ...     ...     ...       ...       ...
754 2024-05-29  189.61  192.25  189.51  190.29  53068000      2.74
755 2024-05-30  190.76  192.18  190.63  191.29  49947900      1.55
756 2024-05-31  191.44  192.57  189.91  192.25  75158300      2.66
757 2024-06-03  192.90  194.99  192.52  194.03  50080500      2.47
758 2024-06-04  194.64  195.32  193.03  194.35  47471400      2.29

[759 rows x 7 columns]

In [10]:

import h5py
 
#Open the H5 file in read mode
with h5py.File('lstm_callback.h5', 'r') as file:
    print("Keys: %s" % file.keys())
    a_group_key = list(file.keys())[0]
     
    # Getting the data
    data = list(file[a_group_key])
    print(data)

Keys: <KeysViewHDF5 ['model_weights', 'optimizer_weights']>
['dense', 'dropout', 'dropout_1', 'dropout_2', 'group_normalization', 'group_normalization_1', 'group_normalization_2', 'lstm', 'lstm_1', 'lstm_2']

In [11]:
import tensorflow as tf
from tensorflow.keras.layers import Dense, Dropout, LSTM, BatchNormalization
import rnn_model
import stock

In [12]:
# Reading & Preprocessing data.
train_data, test_data = stock.read_data(preprocessing=True, scaling_method='MinMax')

# Creating time frames.
x_train, y_train = stock.construct_time_frames(train_data, frame_size=64)
x_test, y_test = stock.construct_time_frames(test_data, frame_size=64)

In [13]:
##input_shape = x_train.shape[1:]  # Assuming x_train has shape (batch_size, sequence_length, num_features)
input_shape = x_train.shape[1:]
layers = [
    LSTM(units=50, return_sequences=True),
    tf.keras.layers.LayerNormalization(),  # Replace GroupNormalization
    Dropout(0.2),
    LSTM(units=50, return_sequences=True),
    tf.keras.layers.LayerNormalization(),  # Replace GroupNormalization
    Dropout(0.2),
    LSTM(units=50),
    tf.keras.layers.LayerNormalization(),  # Replace GroupNormalization
    Dropout(0.2),
    Dense(units=1)
]

name = 'lstm'
epochs = 200
batch_size = 32

# Training the model.
model = rnn_model.build_model(input_shape, layers)
model, history = rnn_model.train(model, name, x_train, y_train, epochs=epochs, batch_size=batch_size)

# Making predictions.
y_predict = model.predict(x_test)

# Visualizing the prediction.
stocks.plot_prediction(y_test, y_predict, 'Real Tesla Stock Price', 'Predicted Tesla Stock Price')

ValueError: Only instances of `keras.Layer` can be added to a Sequential model. Received: KerasTensor(type_spec=TensorSpec(shape=(None, 64, 5), dtype=tf.float32, name='input_3'), name='input_3', description="created by layer 'input_3'") (of type <class 'tensorflow.python.keras.engine.keras_tensor.KerasTensor'>)

In [14]:

# Training the model.
model = rnn_model.build_model(input_shape, layers)
model, history = rnn_model.train(model, name, x_train, y_train, epochs=epochs, batch_size=batch_size)

# Making predictions.
y_predict = model.predict(x_test)

# Visualizing the prediction.
stocks.plot_prediction(y_test, y_predict, 'Real Tesla Stock Price', 'Predicted Tesla Stock Price')

ValueError: Only instances of `keras.Layer` can be added to a Sequential model. Received: KerasTensor(type_spec=TensorSpec(shape=(None, 64, 5), dtype=tf.float32, name='input_4'), name='input_4', description="created by layer 'input_4'") (of type <class 'tensorflow.python.keras.engine.keras_tensor.KerasTensor'>)